.mainSection {
    display: flex;
    justify-content:space-between
}

.title {
    text-align: center;
    line-height: 24px;
}


.back {
    cursor: pointer
}

.back:hover {
    color: blueviolet;
}

.homeLink:active {
 color: blueviolet;
}
.homeLink:hover {
    color: blueviolet;
   }
   

.auth {
    position: absolute;
    top: 0;
    right: 0;
}

